{% extends "base.html" %}


{% block content %}
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Register</h2>
                    <form method="POST" action="">
                        {% csrf_token%}
                        <div class="group-input">
                            <label for="username">Username </label>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                        <div class="group-input">
                            <label for="password1">Password:</label>
                            <input type="password" name="password1" placeholder="Password">
                        </div>
                        <div class="group-input">
                            <label for="password2">Confirm Password:</label>
                            <input type="password" name="password2" placeholder=" Enter Your Password Again">
                        </div>
                        <button type="submit" class="site-btn register-btn"name=""value="Register">REGISTER</button>
                    </form>
                    
                    <div class="switch-login">
                        <!-- <a href="./login.html" class="or-login">Or Login</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}